<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:insert="~{/Layout/Resources::Links}">

</head>

<body>
	<div th:replace="~{/Layout/Sidebar::SideBar}">

		<div th:fragment="contentSideBar">
			<div class="container">

				<div class="text-center">
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
						<i class="fa-solid fa-circle-plus"></i>
					</button>
				</div>

				<br />
				<div class="table-responsive">
					<table class="table align-middle table-bordered caption-top text-center table-striped table-hover"
						id="vehiculeTable">
						<caption>Lista de Vehiculos</caption>
						<thead class="table-dark">
							<tr>

								<th>#</th>
								<th>Placa</th>
								<th>Kilometraje</th>
								<th>Modelo</th>
								<th>Tipo Vehiculo</th>
								<th>Capacidad Carga</th>
								<th>Conductor</th>
								<th>Estado</th>
								<th>Editar</th>
								<th>Inactivar</th>
								<th>Eliminar</th>

							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>

			<div th:replace="~{/Layout/Modal::Modal}">

				<div th:fragment="ModalTitle">
					Agregar Vehiculo
				</div>

				<div th:fragment="ModalBody">

					<form id="vehicleForm">
						<div class="row">
							<div class="col-md-6">
								<div class="mb-3">
									<label for="placa" class="form-label">Placa</label>
									<input type="text" class="form-control" id="placa" name="plate"
										placeholder="Ingrese la placa">
								</div>
								<div class="mb-3">
									<label for="kilometraje" class="form-label">Kilometraje</label>
									<input type="number" class="form-control" id="kilometraje" name="mileage"
										placeholder="Ingrese el kilometraje">
								</div>
								<div class="mb-3">
									<label for="modelo" class="form-label">Modelo</label>
									<input type="text" class="form-control" id="modelo" name="model"
										placeholder="Ingrese el modelo">
								</div>
								<div class="mb-3">
									<label for="tipoVehiculo" class="form-label">Tipo Vehículo</label>
									<input type="text" class="form-control" id="tipoVehiculo" name="type_vehicule"
										placeholder="Ingrese el tipo de vehículo">
								</div>
							</div>

							<div class="col-md-6">
								<div class="mb-3">
									<label for="capacidadCarga" class="form-label">Capacidad Carga</label>
									<input type="number" class="form-control" id="capacidadCarga" name="load_capacity"
										placeholder="Ingrese la capacidad de carga">
								</div>
								<div class="mb-3">
									<label for="conductor" class="form-label">Conductor</label>
									<select class="form-control" id="conductor" name="person_id">
										<option value="">Seleccione un conductor</option>
										<th:block th:each="person : ${listPeople}">
											<option th:value="${person.id}"
												th:text="${person.names} + ' ' + ${person.last_names}"></option>
										</th:block>
									</select>
								</div>

								<div class="mb-3">
									<label for="sensor" class="form-label">Sensor</label>
									<select class="form-control" id="sensor" name="sensor_id">
										<option value="">Seleccione un Sensor</option>
										<th:block th:each="sensor : ${listSensors}">
											<option th:value="${sensor.id}" th:text="${sensor.name}"></option>
										</th:block>
									</select>
								</div>

								<div class="mb-3">
									<label for="estado" class="form-label">Estado</label>
									<select class="form-select" id="estado" name="state">
										<option value="Activo">Activo</option>
										<option value="Inactivo">Inactivo</option>
									</select>
								</div>
							</div>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
							<button type="submit" class="btn btn-primary">Guardar</button>
						</div>
					</form>


				</div>

			</div>


		</div>
	</div>
	<div th:replace="~{/Layout/Resources::Scripts}"></div>
	<script th:src="@{/Scripts/Vehicule.js}"></script>
</body>

</html>