<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head></head>

<body>
	<div th:fragment="Modal" class="modal fade" id="exampleModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">
						<div th:replace="~{this :: ModalTitle}"></div>
					</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div th:replace="~{this :: ModalBody}"></div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>