<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="es">

<head></head>

<body>
	<div th:fragment="SideBar">
		<div class="sidebar">
			<div class="logo-details">
				<i class='bx bxs-truck icon'></i>
				<div class="logo_name">TransPoli</div>
				<i class='bx bx-menu' id="btn"></i>
			</div>
			<ul class="nav-list">
				<li>
					<i class='bx bx-search'></i>
					<input type="text" placeholder="Search...">
					<span class="tooltip">Search</span>
				</li>
				<li>
					<a th:href="@{/assignments}">
						<i class='bx bx-grid-alt'></i>
						<span class="links_name">Asignaciones</span>
					</a>
					<span class="tooltip">Asignaciones</span>
				</li>
				<li>
					<a th:href="@{/admin/vehicles}">
						<i class='bx bxs-truck'></i>
						<span class="links_name">Vehiculos</span>
					</a>
					<span class="tooltip">Vehiculos</span>
				</li>
				<li>
					<a th:href="@{/register}">
						<i class='bx bxs-user'></i>
						<span class="links_name">Registro Usuarios</span>
					</a>
					<span class="tooltip">Registro Usuarios</span>
				</li>
				<li class="profile">
					<div class="profile-details">
						<i class='bx bx-cog'></i>
						<div class="name_job">
							<div class="name">Prem Shahi</div>
							<div class="job">Web designer</div>
						</div>
					</div>
					<a type="button" class="btn" th:href="@{/logout}" sec:authorize="isAuthenticated()">
						<i class='bx bx-log-out' id="log_out"></i>
					</a>
				</li>
			</ul>
		</div>
		<section class="home-section">
			<br />
			<div th:replace="~{this :: contentSideBar}" class="text"></div>
		</section>

		<script>
			document.addEventListener("DOMContentLoaded", function () {
				let sidebar = document.querySelector(".sidebar");
				let closeBtn = document.querySelector("#btn");
				let searchBtn = document.querySelector(".bx-search");

				closeBtn.addEventListener("click", () => {
					sidebar.classList.toggle("open");
					menuBtnChange();
				});

				searchBtn.addEventListener("click", () => {
					sidebar.classList.toggle("open");
					menuBtnChange();
				});

				function menuBtnChange() {
					if (sidebar.classList.contains("open")) {
						closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
					} else {
						closeBtn.classList.replace("bx-menu-alt-right", "bx-menu");
					}
				}
			});

		</script>
	</div>
</body>

</html>